*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18%;
    border-bottom: 1px solid rgba(219,219,219,1);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
header .logo{
    height: 54px;
}
header .logo img{
    height: 100%;
    object-fit: contain;
}
header .search-bar{
    width: 250px;
    background-color: rgba(239,239,239,1);
    padding: 3px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
header .search-bar input{
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(239,239,239,1);
    padding-left: 10px;
    font-size: 15px;
    color: #999191;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin-right: 20px;
    font-size: 20px;
}
header nav ul li:last-child{
    margin-right: 0;
}

header nav ul li img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}

/*body section*/

section{
    padding: 30px 18%;
    background-color: #fafafa;
    display: flex;
}
.left-side{
    width: 65%;
}

.story{
    display: flex;
    padding: 16px;
    background-color: white;
    border: 1px solid rgba(219,219,219,1);
     border-radius: 5px;
     justify-content: space-between;
}
.story .stories{
    width: 17%;
}
.story .stories img{
    border-radius: 50%;
    border: 2px solid #ff007b;
    object-fit: cover;
    padding: 1.5px;
}
.story .stories p{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
}

/*Posts*/


.posts{
    margin: 25px 0;
    background-color:  white;
    border: 1px solid rgba(219,219,219,1);
    border-radius: 5px;
}
.posts .post-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.posts .post-title .post-left{
    display: flex;
    align-items: center;
}

.posts .post-title .post-left .image{
    margin-right: 15px;
}

.posts .post-title .post-left .image img{
    border-radius: 50%;
    object-fit: cover;
}
.posts .post-title .post-left .details .name{
    padding-bottom: 2px;
    font-weight: bold;
}
.posts .post-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.posts .post-footer{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.posts .post-footer .like-share-comment i{
    font-size: 22px;
    margin-right: 10px;
}
.posts .post-footer .save{
    font-size: 22px;
}
.posts .post-footer-content{
    padding: 0 16px 16px 16px;
}
.posts .post-footer-content p{
    margin-bottom: 3px;
}
.posts .post-footer-content .likes{
    margin-bottom: 8px;
}
.posts .post-footer-content .name{
   font-weight: 600;
}
.posts .post-footer-content span{
    margin-left: 10px;
    font-weight: normal;
}

.posts .post-footer-content .posting-time{
    font-size: 10px;
    margin-top: 6px;
}

.posts .add-comment{
    padding: 16px;
    border-top: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posts .add-comment .left-side{
    display: flex;
    align-items: center;
}

.posts .add-comment .right-side p{
    color: rgb(179, 225, 240);
    font-weight: bold;
}
.posts .add-comment .left-side i{
    font-size: 22px;
    margin-right: 15px;
}
.posts .add-comment .left-side input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
}


/* right-side of profile */


.right-side{
    width: 35%;
    margin-top: 15px;
    position: fixed;
    right: 30px;
}
.right-side .profile-title {
    display: flex;
    align-items: center;
  
}
.right-side .profile-title .profile-left{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.right-side .profile-title .profile-right{
    padding-left: 55px;
}
.right-side .profile-title .profile-left .image img{
    border-radius: 50%;
    margin-right: 15px;
    outline: 1px solid black;
    object-fit: cover;
}
.suggestion{
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}
.suggestion p{
    margin-right: 90px;
}

.suggestion-title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.suggestion-title .suggestion-left{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.suggestion-title .suggestion-left .image img{
    border-radius: 50%;
    margin-left: 15px;
}

.suggestion-title .suggestion-left .details .name{
    padding-bottom: 2px;
    margin-left: 15px;
}
.suggestion-title .suggestion-left .details .location{
    padding-bottom: 2px;
    margin-left: 15px;
}
.suggestion-right{
    padding-left: 23%;
}
.suggestion-right .style{
    padding-left: 4%;
}










